<%- include('partials/header') %>
    <div id="writing">
        <div class="history">
            <h2>Flowers vs Satan</h2>
            <p>Test script for an original tv show focused on a group of secret agents that work for a timeline maintenance agency.</p>
            <a href="<%= files[1].url %>" target="_blank"><button>Read</button></a>
        </div>
        <div class="history">
            <h2>The corpse on the dinning table</h2>
            <p>A short story describing the events of a weird night when two elderly sisters find a corpse on their table.
            </p>
            <a href="<%= files[2].url %>" target="_blank"><button>Read</button></a>
        </div>
        <div class="history">
            <h2>Midnight Prom Queen</h2>
            <p>Script for a test board based on an original idea about a teenage girl that balances school life with being a demon hunter. </p>
            <a href="<%= files[1].url %>" target="_blank"><button>Read</button></a>
        </div>
        <div class="history">
            <h2>CLASS 111</h2>
            <p>Script for an original comedy/mockumentary tv series pilot focused on a group of students that hate each other.</p>
            <a href="<%= files[0].url %>" target="_blank"><button>Read</button></a>
        </div>    
    </div>
<%- include('partials/footer') %>